body { background-color: white; }

.body-content { margin: 30px 0; }

.brand-text {
    display: block;
    font-size: 25px;
    color: #666 !important;
}

.clear {
    clear: both;
    display: table;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; }

.main-container {
    display: table;
    margin: 0 auto;
}



/*matrix {
    display: table;
    margin: 0 auto;
}*/

container > p {
    margin-left: 10px;
    margin-right: 10px;
}

container > div.buttons > p {
    font-size: 18px;
    margin: 5px;
    font-weight: bold;
}

container button {
    margin: 0 10px;
    font-size: 10px !important;
}

matrix {
    display: table;
    margin: 20px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 1.2px 1.2px 10px 1.2px rgba(0,0,0,.1);
}

.matrix {
}

cell > div.form-group {
    float: left !important;
}

.matrix .column {
    float: left;
    padding: 5px;
    width: 70px;
}

.mhead {
    font-weight: bold;
    font-size: 17px;
}

.column:nth-child(1) :last-child { margin-bottom: 11px !important; }


cell.form-group {
    max-width: 95% !important;
}

cell input {
    max-width: 95% !important;
}


cell.finalRow input, cell.finalColumn input {
    background: #777;
    color: white;
}


cell.finalRow.finalColumn input { visibility: hidden; }

.column:nth-child(1) p:nth-child(1) { margin-top: 38px; }